.main{
    margin-top: 100px;
    margin-bottom: 100px;
}
.carousel-item {
    background: #000;

}
.carousel-item img {
    opacity: 0.5;
}
.carousel-caption {
    top:25% ;
    width: 40%;
    left: 28%;
}
